<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<h1>1级</h1>
<h2>2级</h2>
<h3>3级</h3>
<h4>4级</h4>
<h5>5级</h5>
<h6>6级</h6>

<!-- 段落 -->
<p>p标签</p>

<!-- 水平线 -->
<hr/>

<!-- 换行标签的行间距小于段落 -->
<br/>

<!-- 粗体 -->
<strong>粗</strong>

<!-- 斜体 -->
<em>斜</em>

<!-- 特殊符号 -->
&nbsp;
&gt;
&copy;
&lt;

<!-- 列表 -->
<ol>
    <li>a</li>
    <li>b</li>
    <li>c</li>
    <li>d</li>
</ol>

<ul>
    <li>a</li>
    <li>b</li>
    <li>c</li>
    <li>d</li>
</ul>

<dl>
    <dt>zimu</dt>
    <dd>a</dd>
    <dd>b</dd>
    <dd>c</dd>
    <dd>d</dd>

    <dt>u</dt>
    <dd>a</dd>
    <dd>b</dd>
    <dd>c</dd>
    <dd>d</dd>
</dl>

<!-- 表格 -->
<table border="1px">
<!--    rowspan 跨行 -->
    <tr>
<!--        colspan 跨列 -->
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

</body>
</html>
